---
import Layout from "../layouts/Layout.astro";
import { Selected } from "../layouts/Header.astro";
---

<Layout title="About | Counting Reals" description="" selected={Selected.About}>
	<p>
		This is a blog on mathematics and technology by
		<a href="https://github.com/algorithmiker">algorithmiker</a>.
	</p>
</Layout>
