---
export interface Props {
	hover?: boolean;
	shadow?: boolean;
}

const { hover = false, shadow = false } = Astro.props;
let cardClasses = [
	"card",
	{
		"card-ext-shadow": shadow,
		"card-ext-hover": hover,
	},
];
---

<div class:list={cardClasses}>
	<slot />
</div>

<style is:global>
	@reference "../styles/global.css";
	.card {
		@apply backdrop-blur-md border border-stone-800 dark:border-stone-400 py-1 px-4 bg-white dark:bg-neutral-800 my-2 text-black dark:text-white;
	}
	.card-ext-hover {
		@apply hover:bg-stone-100 dark:hover:bg-stone-800;
	}
	.card-ext-shadow {
		@apply drop-shadow-md shadow-stone-500/25 dark:shadow-stone-400/25;
	}
</style>
