<div class="header grid p-4">
<a href="/"> 
	<div class="bg-gradient-to-r bg-clip-text text-transparent inline-block
from-amber-500 to-amber-600 font-black text-4xl">Counting Reals</div></div>
</a>
</div>
<hr>
